/******************
HEADER AREA
******************/

header {
    background-color: #D5F1F0;
    /*min-height: 300px;*/
    /*max-width: 100%;*/ 
    /*margin: 0 0 30px 0;*/
    padding: 130px 0 0 0; /*I did it!!!!!!!!*/
}

/*header {
  float: left;

  width: 100%;
}*/

.top_list {
    float: right;
}

/*****************************
FIRST WHITE DIV AREA
****************************/

.white1 {
  max-width: 960px;
  background-color: white;
  margin: 0 auto;
  padding: 70px 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  overflow: hidden;
}

.tagline {
  position: absolute;
  top: 245px;
  left: 620px;
}

.logo {
  position: absolute;
  top: 91px;
  left: 192px;
}

.bright-list {
  float: right;
  margin: 0 10px;
  padding: 5px 50px;
  width: 25%;*
  display: inline-block;
  text-align: justify;
  /*list-style-type: none;*/
  text-decoration: none;
  margin-right: 15%;
  border: solid;
}

.bright-list li {
  background-color: green;
  color: white;
  padding: 5px 7px;
  margin: 2px;
  border-radius: 20%;
}

/****************************
NAV BAR AREA
****************************/

nav {
    width: 100%;
    background: #F3CECD;
    color: purple;
    font-weight: bold;
    text-align: justify;
    padding: 1px 0;
}

nav ul {
  margin: 0 10px;
  padding: 5px;
}

 nav ul li {
     width: 10%;
     display: inline-block;
     text-align: center;
     /*list-style-type: none;*/
     text-decoration: none;
     margin-right: 6%;
}


li {
     list-style-type: none;
     display: inline;
}

/*******************************
SECOND WHITE DIV
*******************************/

.white2 {
  max-width: 960px;
  background-color: white;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}


/********************************
SECOND PART COMING BACK TO THIS
********************************/
.darker-blue {
  background-color: #69C4CC;
  padding: 0 0 130px 0;
}


.another-list {
  float: right;
  margin: 0 10px;
  padding: 5px;
  width: 25%;*
  display: inline-block;
  text-align: justify;
  /*list-style-type: none;*/
  text-decoration: none;
  margin-right: 6%;
}

.bottom {
    background-color: #69C4CC;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

footer {
    background-color: # #2A959E;
    min-height: 200px;
}

 footer ul li {
     width: 10%;
     display: inline-block;
     text-align: center;
     text-decoration: none;
     margin-right: 6%;
}


/*********************************
FORM
*********************************/

.container {
  width: 250px;
  float: left;
  padding: 15px 0;
  margin: 0 0 0 15px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #d3d3d3;
  color: green;
}

.limiting {
  text-align: center;
  border-bottom: solid 1px;
}

.right-bullet {
  text-align: right;
}

fieldset {
  border: 0;
}

.container2 {
  border: solid;
}

/*************************
THE MANY DIV BOXES
*************************/

.righter-side {
  border: solid;
  max-width: 66%;
  margin-left: 300px; 
}

.key-master {
  border: solid;
}

.first-box {
  float: left;
}


/********************
FOOTER
********************/

.footer-list {
  text-align: center;
  text-decoration: none;
  margin: 35px;
  color: white;
}

