



.top {
    background-color: #D5F1F0;
    min-height: 100px;
    max-width: 100%; 
}

.top_list {
    float: right;
}

.second {
    background-color: white;
    min-height: 100px;
}

.left-space {
    padding: 100px;
    max-width: 100px;
    background-color: #D5F1F0;
}

.for-logo {
    padding: 100px;
    max-width: 200px;
}

.third-block {
    padding: 100px;
    max-width: 200px;
}

.right-space {
    padding: 100px;
    background-color: #D5F1F0;
    float: right;
}

logo {
    background: url('../images/savings-multiplied-logo.png');
    background-size: ;
    float: left;
}

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

nav {
    width: 100%;
    background: #F3CECD;
    color: purple;
    font-weight: bold;
    text-align: justify;
    padding: .5px 0;
}

nav ul {
  margin: 0 10px;
  padding: 5px;
}

 nav ul li {
     width: 10%;
     display: inline-block;
     text-align: center;
     /*list-style-type: none;*/
     text-decoration: none;
     margin-right: 6%;
}


li {
     list-style-type: none;
     display: inline;
}


bottom {
    background-color: #69C4CC;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

.owl-p1 {
    background: url('../images/homepage/facebook_callout.png') no-repeat center;  
    height: 100px;
    width: 150px;
    max-width: 100%;
    background-size: cover;
    border-style: none;
}

.owl-p2 {
    background: url('../images/homepage/twitter_callout.png') no-repeat center;  
    height: 100px;
    width: 150px;
    max-width: 100%;
    background-size: cover;
    border-style: none;
}

.owl-p3 {
    background: url('../images/homepage/message_board_callout.png') no-repeat center;  
    height: 100px;
    width: 150px;
    max-width: 100%;
    background-size: cover;
    border-style: none;
}

.owl-p4 {
    background: url('../images/homepage/special_offers_callout.png') no-repeat center;  
    height: 100px;
    width: 150px;
    max-width: 100%;
    background-size: cover;
    border-style: none;
}


footer {
    background-color: # #2A959E;
    min-height: 200px;
}

 footer ul li {
     width: 10%;
     display: inline-block;
     text-align: center;
     text-decoration: none;
     margin-right: 6%;
}